.gogo_header_logo{
    margin: 2.5rem 0; font-family: 'Carter One', cursive;
}

.gogo_header_button{
    margin-bottom: 2rem;
}

.gogo_footer_button{
    margin-top: 2rem;
}

.gogo_footer_logo{
    margin: 2rem 0; font-family: 'Bebas Neue', cursive;
}